@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="text-center">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li class="text-center"><a href="javascript:document.getElementById('logoutForm').submit()" title="Log Out"><span class="glyphicon glyphicon-log-out"></span></a></li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    @*
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    *@
    <li class="text-center">
        <a href="@Url.Action("Login", "Account")">
            <span class="glyphicon glyphicon-log-in" title="Log In"></span>
        </a>
    </li>
</ul>
}
