@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
@if (ViewBag.exceptionMessage != null)
{
    <h3>@ViewBag.exceptionMessage</h3>
}
else
{
    <h3>You can't access this page.</h3>
}