<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>alexandrabarbu-001-site1.btempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://alexandrabarbu-001-site1.btempurl.com:8172/MsDeploy.axd?site=alexandrabarbu-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>alexandrabarbu-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\alexandrabarbu-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Workplace" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL6007.site4now.net;Initial Catalog=DB_A4CAEE_workplace;User ID=DB_A4CAEE_workplace_admin;Password=naruto96" Name="Data Source=SQL6007.site4now.net;Initial Catalog=DB_A4CAEE_workplace;User Id=DB_A4CAEE_workplace_admin;Password=naruto96;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Workplace_v2._2.Models.ApplicationDbContext, Workplace v2.2" MigrationConfiguration="Workplace_v2._2.Migrations.Configuration, Workplace v2.2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Workplace-Web.config Connection String">
      <ParameterValue>Data Source=SQL6007.site4now.net;Initial Catalog=DB_A4CAEE_workplace;User Id=DB_A4CAEE_workplace_admin;Password=naruto96;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>